In [1]:
import mysql.connector

cnx = mysql.connector.connect(
    user='root', 
    password='12345',
    host='127.0.0.1',
    database='slsm_db'
)

cursor = cnx.cursor()

In [35]:
# Inserción 
cursor = cnx.cursor()

sql = "INSERT INTO usuarios (nombre, apellidos, correo, rol, contrasena) VALUES (%s, %s, %s,%s, %s)"
val = ("ADOLFO", "TUN DZUL", "170300124@ucaribe.edu.mx", "Paciente", "12345")

cursor.execute(sql, val)
cnx.commit()

In [2]:
# Consulta
cursor = cnx.cursor()

cursor.execute("SELECT * FROM usuarios")

result = cursor.fetchall()

print(result)

[(1, 'GUADALUPE', 'GUINTO', 'guadalupe.guinto@gmail.com', 2, '12345', '$2b$12$NffuYu0ZnORLiM/PObslrugmyRsFz0V8sPArMW2HK7Lu3VYawhb7.'), (2, 'AMAYRANI', 'GOMEZ', '170300079@ucaribe.edu.mx', 1, '12345', '$2b$12$q1ROBA.geON5Ll9PvyD.ROHVtBTqyKXwEfSPzeIFZb.vz2PiKUAEm'), (3, 'ADOLFO', 'TUN DZUL', '170300124@ucaribe.edu.mx', 2, '12345', '$2b$12$7dYcrIuYsYl8Rg769cLTzeL0WHxbsq5RBuWsq1JuLqd8UmozirYD2'), (4, 'KARLA', 'GUINTO', 'karla.guinto@gmail.com', 2, '12345', '$2b$12$M9BpQ4wQCB6pbiLrodDkjuvkCejCoH..F1AN8ZD6aoblpNHxbikqO'), (5, 'GUADALUPE', 'SALINAS', 'guadalupe.salinas@gmail.com', 1, '12345', '$2b$12$6QnmWuNG1RQoHh6rwcch5.eCZTvKiHKgJx3WkCR9FZNwEUl7giADy'), (6, 'AMAYRANI', 'GOMEZ', 'amayraniigomez@gmail.com', 2, '12345', '$2b$12$o8uAScdMsXi8ZXT8R9ZmyOXzcaVYN5X31MTQts2ktwNVgeiJ0NEfO'), (8, 'ASHWIN', 'CARDENAS BOBADILLA', '170300113@ucqribe.edu.mx', 2, 'adolfoestahermoso', '$2b$12$kAIM7Q.WT63FbO7tVUV9ceTRejMI4N1NkTrHWKkMY6cUu99JG5fJC'), (9, 'KARLA', 'GUINTO', '180300325@ucaribe.edu.mx', 1, '12345', '$2b$12$reF50MVExOP9n7f2PmtUeuEQSP3381EN1vW8KUcrAdzegS9nXU/Om'), (10, 'AMAYRANI', 'GOMEZ', 'herg08@hotmail.com', 2, '12345', '$2b$12$PS1TC7UO8EVD92ieJ0xZO.TlyK5BhF1r4eEiNQrnDD2Me3.siz3ie')]

In [4]:
user_data = {
    "id_usuario": result[0][0],
    "nombre": result[0][1],
    "apellidos": result[0][2],
    "correo": result[0][3],
    "id_rol": result[0][4],
    "contaseña": result[0][5],
    "contrasena_hash": result[0][6]
}

user_data

{'id_usuario': 1,
 'nombre': 'GUADALUPE',
 'apellidos': 'GUINTO',
 'correo': 'guadalupe.guinto@gmail.com',
 'id_rol': 2,
 'contaseña': '12345',
 'contrasena_hash': '$2b$12$NffuYu0ZnORLiM/PObslrugmyRsFz0V8sPArMW2HK7Lu3VYawhb7.'}

In [5]:
# Búsqueda
cursor = cnx.cursor()

sql = f"SELECT * FROM usuarios WHERE correo LIKE '{user_data['correo']}%'"
sql = f"SELECT * FROM usuarios WHERE correo LIKE '170300125@ucaribe.edu.mx'"

cursor.execute(sql)

result = cursor.fetchall()

print(result)

[]

In [6]:
if result: 
    print("lista no vacia")
else:
    print("lista vacia")

lista vacia

In [25]:
sql = """
SELECT 
	id_usuario,
    id_rol,
    CONCAT(nombre, " ", apellidos) AS nombre_completo
FROM 
	usuarios
WHERE 
    id_rol = 2 AND CONCAT(nombre, " ", apellidos) LIKE '%%';
"""
cursor.execute(sql)

result = cursor.fetchall()
print(result)

[(1, 2, 'GUADALUPE GUINTO'), (3, 2, 'ADOLFO TUN DZUL'), (4, 2, 'KARLA GUINTO'), (6, 2, 'AMAYRANI GOMEZ'), (8, 2, 'ASHWIN CARDENAS BOBADILLA ')]

In [26]:
print([data[2] for data in result])

['GUADALUPE GUINTO', 'ADOLFO TUN DZUL', 'KARLA GUINTO', 'AMAYRANI GOMEZ', 'ASHWIN CARDENAS BOBADILLA ']

In [21]:
# Cerrar conexión
cursor.close()
cnx.close()